<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <title>Chord Progress</title>
        <link rel="stylesheet" href="css/pico.slate.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.slate.min.css"/>

        <link rel="icon" type="image/jpg" href="{{ absolute_url(asset('favicon.png')) }}" />

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>

<nav class="container-fluid">
  <ul>
    <li><h2>Chord  Progress </h2></li>
  </ul>
  <ul>
    <li><a  role="button"  href="#">Progressions</a></li>
    <li><a  role="button" href="#">Songs</a></li>
    <li><a  role="button" href="#">About</a></li>
  </ul>
</nav>


<main class="container">
{% block body %}
{% endblock %}
</main>

</body>
</html>
